Flow1
[{"id":"ae5925a5.8e09c8","type":"rpi-gpio in","z":"48093184.6cfb","name":"Button","pin":"7","intype":"up","debounce":"25","read":true,"x":70,"y":80,"wires":[["b09b58fa.c8a4b8","7e380cfc.8e0b04"]]},{"id":"b09b58fa.c8a4b8","type":"debug","z":"48093184.6cfb","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":480,"y":80,"wires":[]},{"id":"f91edcb3.10add","type":"rpi-gpio out","z":"48093184.6cfb","name":"LED","pin":"11","set":true,"level":"0","freq":"","out":"out","x":690,"y":180,"wires":[]},{"id":"7e380cfc.8e0b04","type":"switch","z":"48093184.6cfb","name":"If input is 1","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":270,"y":180,"wires":[["a9bcb485.c88378"],["bca05310.65c57"]]},{"id":"a9bcb485.c88378","type":"change","z":"48093184.6cfb","name":"Change to 0","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":140,"wires":[["f91edcb3.10add"]]},{"id":"bca05310.65c57","type":"change","z":"48093184.6cfb","name":"Change to 1","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":220,"wires":[["f91edcb3.10add"]]}]
