Flow2
[{"id":"4dc6f34d.ded91c","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"f56a20cb.dba0a","type":"inject","z":"4dc6f34d.ded91c","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":true,"onceDelay":0.1,"x":90,"y":180,"wires":[["21c06b8b.021b64"]]},{"id":"21c06b8b.021b64","type":"function","z":"4dc6f34d.ded91c","name":"Payload","func":"msg.headers={\n    deviceKey:\"qdvA39dtWnPLIaWx\"\n};\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":180,"wires":[["7a44ecc.3531d14","98b3e244.0fc9"]]},{"id":"7a44ecc.3531d14","type":"http request","z":"4dc6f34d.ded91c","name":"","method":"GET","ret":"txt","url":"http://api.mediatek.com/mcs/v2/devices/DajxuF04/datachannels/Temperature/datapoints.csv","tls":"","x":370,"y":280,"wires":[["cff43dd4.d40bd","bfdf1003.28fcd"]]},{"id":"cff43dd4.d40bd","type":"http response","z":"4dc6f34d.ded91c","name":"","statusCode":"","headers":{},"x":590,"y":280,"wires":[]},{"id":"bfdf1003.28fcd","type":"debug","z":"4dc6f34d.ded91c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":590,"y":360,"wires":[]},{"id":"98b3e244.0fc9","type":"http request","z":"4dc6f34d.ded91c","name":"","method":"GET","ret":"txt","url":"http://api.mediatek.com/mcs/v2/devices/DajxuF04/datachannels/Humidity/datapoints.csv","tls":"","x":210,"y":360,"wires":[["cff43dd4.d40bd","bfdf1003.28fcd"]]}]
